.pumukit-launcher .icon-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 1.5rem 0;
}

.pumukit-launcher .icon-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.pumukit-launcher .icon-button:hover {
    transform: scale(1.08);
}

.pumukit-launcher .icon-button:hover i {
    background-color: #333;
}

.pumukit-launcher .icon-button i {
    background-color: #cb0017;
    color: white;
    border-radius: 50%;
    padding: 20px;
    font-size: 50px;
    margin-bottom: 10px;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pumukit-launcher .icon-button div {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

#backToLauncher {
    margin-top: 5px;
    background-color: #333;
    color: #FFF;
    border-color: #333;
}

#currentTabInfo {
    float: right;
}

#currentTabInfo #currentTabName {
    font-size: 16px;
    font-weight: 600;
}

#currentTabInfo i {
    background-color: #cb0017;
    color: white;
    border-radius: 50%;
    padding: 9px;
    font-size: 20px;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.modal-footer button {
    background-color: #333;
    color: #FFF;
    border-color: #333;
}

@media (max-width: 768px) {
    .pumukit-launcher .icon-row {
        gap: 1.5rem;
        padding: 1.5rem 0;
        flex-direction: row;
        justify-content: space-around;
    }

    .pumukit-launcher .col {
        width: 90px;
    }

    .pumukit-launcher .icon-button i {
        padding: 16px;
        font-size: 22px;
        width: 52px;
        height: 52px;
    }

    .pumukit-launcher .icon-button div {
        font-size: 13px;
    }
}

@media (min-width: 481px) {
    .pumukit-launcher .icon-row.top .col:first-child, .pumukit-launcher .icon-row.bottom .col:first-child:nth-last-child(2)  {
        padding-left: 90px;
    }

    .pumukit-launcher .icon-row.top .col:last-child, .pumukit-launcher .icon-row.bottom .col:last-child:nth-child(2) {
        padding-right: 90px;
    }
}

@media (max-width: 480px) {
    .pumukit-launcher .icon-row {
        flex-direction: column;
        align-items: center;
    }

    .pumukit-launcher .col {
        width: auto;
    }

    .pumukit-launcher .icon-button {
        margin-bottom: 1.5rem;
    }
}

