{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_pumukitmedia/modal

    Pumukit modal template.
}}
{{< core/modal }}

    {{$title}}
        {{modaltitle}}
    {{/title}}

    {{$body}}
        <div class="icon-grid pumukit-launcher text-center">
            <div class="icon-row top">
                <div class="col" data-tab="upload">
                    <div class="icon-button">
                        <i class="fas fa-upload fa-2x"></i>
                        <div class="tabName">{{#str}}button_upload, tiny_pumukitmedia{{/str}}</div>
                    </div>
                </div>
                <div class="col" data-tab="manager">
                    <div class="icon-button">
                        <i class="fas fa-folder-open fa-2x"></i>
                        <div class="tabName">{{#str}}button_myvideos, tiny_pumukitmedia{{/str}}</div>
                    </div>
                </div>
            </div>
            {{#show_extra_buttons}}
            <div class="icon-row bottom">
            {{/show_extra_buttons}}

                {{#showpr}}
                <div class="col" data-tab="recorder">
                    <div class="icon-button">
                        <i class="fas fa-video fa-2x"></i>
                        <div class="tabName">{{#str}}button_pr, tiny_pumukitmedia{{/str}}</div>
                    </div>
                </div>
                {{/showpr}}
                {{#showplaylist}}
                <div class="col" data-tab="playlist">
                    <div class="icon-button">
                        <i class="fas fa-list fa-2x"></i>
                        <div class="tabName">{{#str}}button_playlists, tiny_pumukitmedia{{/str}}</div>
                    </div>
                </div>
                {{/showplaylist}}
                {{#showsharedvideos}}
                <div class="col" data-tab="shared">
                    <div class="icon-button">
                        <i class="fas fa-share-alt fa-2x"></i>
                        <div class="tabName">{{#str}}button_sharevideos, tiny_pumukitmedia{{/str}}</div>
                    </div>
                </div>
                {{/showsharedvideos}}

            {{#show_extra_buttons}}
            </div>
            {{/show_extra_buttons}}
        </div>

        <div class="pumukit-tabs" style="display:none;">
            <button class="btn btn-sm btn-secondary mb-2" id="backToLauncher"><i class="fa fa-arrow-left"></i>&nbsp;{{#str}}back, tiny_pumukitmedia{{/str}}</button>
            <span id="currentTabInfo" class="ml-2 d-none align-middle">
                <span id="currentTabName"></span> <i class="fa fa-circle fa-sm"></i>
            </span>
            <div class="tab-content">
                <div class="tab-pane" id="upload">
                    {{> tiny_pumukitmedia/modal_upload }}
                </div>
                <div class="tab-pane" id="manager">
                    {{> tiny_pumukitmedia/modal_manager }}
                </div>
                {{#showpr}}
                <div class="tab-pane" id="recorder">
                    {{> tiny_pumukitmedia/modal_recorder }}
                </div>
                {{/showpr}}
                {{#showplaylist}}
                <div class="tab-pane" id="playlist">
                    {{> tiny_pumukitmedia/modal_playlist }}
                </div>
                {{/showplaylist}}
                {{#showsharedvideos}}
                <div class="tab-pane" id="shared">
                    {{> tiny_pumukitmedia/modal_shared }}
                </div>
                {{/showsharedvideos}}
            </div>
        </div>
    {{/body}}

    {{$footer}}
        <button type="button" class="btn btn-secondary" data-action="cancel">{{#str}} cancel, moodle {{/str}}</button>
    {{/footer}}

{{/ core/modal }}
